<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bonjour {{ request.session.username }} !</h2>
    <h2> Voici la liste des appartements !</h2>
    

    {% for apart in apartments %}
    <form action="{% url 'verif' %}" method="POST">
        {% csrf_token %}
        
  

        <h5 name =" appartements">{{ apart.name }}</h5>
        <h5>{{ apart.description }}</h5>
        <img  src= "data:image/jpeg;base64,{{ apart.image }}">
        <h5>{{ apart.expected_price }}</h5>
        <h5>{{ apart.apartment_area }}</h5>
        <h5>{{ apart.terrace_area }}</h5>
        <h5>{{ apart.total_area }}</h5>
        <h5>{{ apart.best_offer_price }}</h5>
        <h5>{{ apart.disponibility }}</h5>
        <h5>{{ apart.date_creation }}</h5>
        <h5>{{ apart.date_disponibility }}</h5>
        <h5>{{ apart.seller }}</h5>
        <h5>{{ apart.buyer }}</h5>
        <h5>{{ apart.product_id }}</h5>
        <h5>{{ apart.product_ids }}</h5>
        <input type="number" id="{{ apart.name }}" name="{{ apart.name }}">
        <input type="submit" value="Submit">
    </form>
        <!-- if offerNotValid
        <span>Offre refusé</span> -->
    {% endfor %}
</body>
</html>